<!-- 
    Sign up page, pretty much the same as login.
    -->
    {% extends 'base.jinja' %}
    
    
    {% block content %} 
        <h1>Sign Up</h1>
        <p>Username</p>
        <input id="username"/>
        <p>Password</p>
        <input id="password" type="password"/>
        <button onclick="signup()">Sign up</button>
       
        <form action="{{ url_for('index') }}" method="get">
            <button type="submit" class="back-button">Back</button>
        </form>
    
    
    
        <script>
            
    
             function isValidURL(string) {
                if (string.length == 0) {
                    return false;
                }
                if (string[0] == "/") {
                    return true;
                }
                return false;
            }
            
            
    
            // this function is identical to login(), see login.jinja
            async function signup() {
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                if (!(/[A-Z]/.test(password) && /\d/.test(password) && password.length > 7)) {
                    alert("Password must contain at least 1 capital letter, 1 number, and be at least 8 characters long.");
                    return;
                }
                


        
                let signupURL = "{{ url_for('signup_user') }}";
                try {
                    let res = await axios.post(signupURL, {
                        username: $("#username").val(),
                        password: $("#password").val(),
                    });
        
                    if (!isValidURL(res.data)) {
                        alert(res.data);
                        return;
                    }
                    window.location.href = res.data; 
                } catch (error) {
                    console.error('Signup failed:', error);
                    alert('Failed to sign up.');
                }
            }
        </script>
    {% endblock %}